<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>edit</title>
  </head>
  <body>

  <form action="/article/<%=@article.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li><label for="title">Title:</label><input id="title" type="text" name="article[title]" value="<%= @article.title%>"></li>

    <li><p><label for="content">Content:</label></p>
      <textarea id="content" type="text" name="article[content]" value="<%= @article.content%>">

    </textarea></li>
  </ul>
    <input type="submit" id="Submit">
  </form>
  </body>
</html>
