<h1>Edit Article:</h1>
<form method="post" action="/articles/<%= @article.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
  <p><label>:title</label><input type="text" name="title" id="title" value="<%=@article.title%>"></p>
  <p><label>:content</label><input type="text" name="content" id="content" value="<%=@article.content%>"></p>
  <input type="submit" id="Submit">
</form>