<h1>New Article:</h1>
<form method="POST" action="/articles">
  <p><label>:title </label><input type="text" name="title" id="title"></p>
  <p><label>:content </label><input type="text" name="content" id="content"></p>
  <input type="submit" id="Submit">
</form>