<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>new</title>
  </head>
  <body>
    <form action="/articles" method="post">
      <ul>
        <h3>New Article</h3>
        <p><li><label for="title">Title:<input id="title" type="text" name="title"></label></li></p>
       <p><li><label for="content">Content:</label></li>
         <textarea id="content" type="text" name="content"></textarea></p>
      </ul>
        <input type="submit" id="Submit">
    </form>
  </body>
</html>
