<form class="" action="/articles" method="post">
<input type="text" name="title" value="" placeholder="title">
<input type="text" name="content" value="" placeholder="content">
<input type="submit" name="" value="Submit">
</form>
